name: PR Check - Testes Unitários

on:
  pull_request:
    branches:
      - develop

jobs:
  test:
    name: Rodar Testes Unitários e Integração
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v3

      - name: Configurar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Instalar dependências
        run: npm install

      - name: Rodar Testes (Jest)
        run: npm test